black
blinker
cffi
click
cryptography
Deprecated
dnspython
filelock
Flask
Flask-Limiter
Flask-MySQLdb
Flask-SQLAlchemy
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
jaraco.classes
jeepney
Jinja2
keyring
keyrings.alt
limits
markdown-it-py
MarkupSafe
mdurl
more-itertools
mypy-extensions
mysqlclient
numpy
ordered-set
packaging
pandas
pathspec
pip
platformdirs
py3-validate-email
pycparser
Pygments
PyMySQL
python-dateutil
pytz
rich
SecretStorage
setuptools
six
SQLAlchemy
tomli
typing_extensions
tzdata
uWSGI
Werkzeug
wheel
wrapt
zipp
