black
blinker
click
Deprecated
dnspython
filelock
Flask
Flask-Limiter
Flask-MySQLdb
Flask-SQLAlchemy
greenlet
gunicorn
idna
importlib-resources
itsdangerous
Jinja2
limits
markdown-it-py
MarkupSafe
mdurl
mypy-extensions
mysqlclient
numpy
ordered-set
packaging
pandas
pathspec
platformdirs
py3-validate-email
Pygments
PyMySQL
python-dateutil
pytz
rich
six
SQLAlchemy
tomli
typing_extensions
tzdata
uWSGI
Werkzeug
wrapt
