
<!DOCTYPE html> 
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"> 

<title>Eric R. Xu, Ph.D.</title>
<link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">


<body>

<h1>Eric R. Xu, Ph.D.</h1>

<h2>ABOUT ME</h2>
<p></p><ul>
<li><b>B.S. Biomedical Engineering (specialty: Biomechanics)</b></li><b>
<li>Ph.D. Psychological and Brain Sciences</li>
</b><li><b>Metis Data Science Certification (475 Hour Curriculum Completion)</b></li><br>
</b><li><b>MIT IDSS Data Science and ML Program (480 Hour Curriculum (ongoing))</b></li><br>
Eric is a results-driven senior data engineer with a strong background in artificial intelligence (AI) and machine learning (ML), combining experience in data science and academia. Passionate about teamwork and skilled in data architecture, ETL processes, and big data technologies. Proficient in designing, developing, and maintaining scalable data pipelines and systems with expertise in data modeling, optimization, and integration across heterogeneous data sources. Ensures data quality, consistency, and reliability. Proficient in programming languages such as Python and SQL, and adept with task orchestration technologies like Apache Airflow. Committed to optimizing data workflows, implementing best practices in AI and ML, and collaborating with cross-functional teams to deliver data-driven solutions that drive business growth and end-user satisfaction.
</ul><p></p>



<h2>LINKS</h2>
<p><a href="https://app.ericrxu.com/static/Resume-Eric-Xu.pdf"><img src="/static/resume.png" width="77" height="77" alt="Resume"></a>
<p><a href="https://www.linkedin.com/in/ericrxu"><img src="/static/linkedin-icon.png" width="77" height="77" alt="LinkedIN"></a>
<a href="https://martialm0nk.blogspot.com/"><img src="/static/blogspot-icon.svg.png" width="77" height="77" alt="my blogspot"></a>
<a href="https://github.com/eric-r-xu"><img src="/static/github-icon.png" width="77" height="77" alt="GitHub"></a>
<a href="https://app.ericrxu.com/research"><img src="/static/research-icon.jpg" width="77" height="77" alt="Research Papers and Scientific Posters"></a>
<a href="https://www.proquest.com/docview/1613156772/"><img src="/static/phd-thesis-icon.png" width="77" height="77" alt="Thesis"></a>
<a href="https://app.ericrxu.com/rain"><img src="/static/mud_running.jpeg" width="77" height="77" alt="Past Precipitation WebApp"></a>
<a href="https://app.ericrxu.com/klaviyo"><img src="/static/weather_email.png" width="77" height="77" alt="Weather-Based Email Service"></a>
<br>

    
    
    
    
    
<h2>ARCHIVE LINKS</h2>
<a href="https://app.ericrxu.com/nyc_collisions"><img src="/static/nyc-icon.jpg" width="88" height="88" alt="NYC Collision Map"></a>
<a href="https://app.ericrxu.com/boston_crime/"><img src="/static/boston-icon.jpg" width="88" height="88" alt="Boston Crime Map"></a>
<a href="https://app.ericrxu.com/dallas/crime/"><img src="/static/dallas-icon.jpg" width="88" height="88" alt="Dallas Crime Map"></a>
<a href="https://app.ericrxu.com/heartdisease/"><img src="/static/heart-disease-icon.png" width="88" height="88" alt="Heart Disease Model"></a>



</p></body></html>
