<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

    <title>Eric R. Xu (Ph.D.)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
    <!-- This is a comment, by the way -->


<body>

<h1>Eric R. Xu, Ph.D.</h1>

<h2>SCIENTIFIC PAPERS AND POSTERS</h2>
<p> </p><ul><br>
<li><a href="/static/research/Xu_Kralik_2014.pdf" color:inherit;="" text-decoration:="" none;"="">Xu, E. R., &amp; Kralik, J. D. (2014). Risky business: rhesus monkeys exhibit persistent preferences for risky options. Front Psychol, 5, 258.</a></li><br>
<li><a href="/static/research/SfN2013.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Kralik, J. D., and Xu, E.R. (Society for Neuroscience 2013): From neurons to large-scale brain networks, hierarchical coding appears to be a ubiquitous functional property.</a></li><br>
<li><a href="/static/research/Kralik_et_al_2012.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Kralik, J. D., Xu, E. R., Knight, E. J., Khan, S. A., &amp; Levine, W. J. (2012). When less is more: evolutionary origins of the affect heuristic. PLoS One, 7(10), e46240.</a></li><br> 
<li><a href="/static/research/SfN2012a.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Xu, E. R., Ma, C. L., Sampson, W. W. L., and Kralik, J. D. (Society for Neuroscience 2012): The influence of risk and value on affective decision-making in primates.</a></li><br>
<li><a href="/static/research/SfN2012b.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Kralik, J. D., Jung, K., Ma, C. L., Sampson, W. W. L., and Xu, E. R. (Society for Neuroscience 2012): Cognitive and action control neuronal signatures reveal functional properties of large-scale brain systems in primates.</a></li><br>
<li><a href="/static/research/Xu_et_al_2011.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Xu, E. R., Knight, E. J., &amp; Kralik, J. D. (2011). Rhesus monkeys lack a consistent peak-end effect. Quarterly Journal of Experimental Psychology, 64(12), 23012315.</a></li><br>
<li><a href="/static/research/SfN2011.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Xu, E. R., and Kralik, J. D. (Society for Neuroscience 2011): Reaching for the larger or smaller of two rewards: How prefrontal cortex and limbic structures underlie conventional and unconventional task performance.</a></li><br>
<li><a href="/static/research/SfN2010.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Xu, E. R. and Kralik, J. D. (Society for Neuroscience 2010): A comparison of rule,decision, reward, and feedback-related activity in different frontal cortical and limbic structures in primates.</a></li><br>
<li><a href="/static/research/SfN2009b.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Kralik, J. D., Knight, E. J., Klepac, K. M., and Xu, E. R. (Society for Neuroscience 2009): Prepotent negation: When a positive reward is rendered negative.</a></li><br>
<li><a href="/static/research/SfN2009a.pdf" style:"color:="" #000000;="" text-decoration:="" none;"="">Xu, E. R., Knight, E. J., and Kralik, J.D. (Society for Neuroscience 2009): The Peak-End Rule Revisited: Peak-First in Rhesus Macaques.</a></li>
</ul><p></p>





</body></html>
